.owl-theme .owl-dots,
.owl-theme .control-buttons {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.owl-theme .control-buttons {
    line-height: 38px;
    width: 20%;
    float: right;
    text-align: right;
    margin-top: -38px;
}


@media (min-width: 992px) {
    .owl-theme .it-hero-wrapper{
        min-height: 500px !important;
    }
    .lista_carousel .owl-theme .owl-dots,
    .lista_carousel .owl-theme .control-buttons {
        width: 50%;
    }
    .lista_carousel .owl-theme .control-buttons {
        border-left: 1px solid #ccc;
        text-align: left;
        margin-top: 0;
    }
    .lista_carousel .owl-theme .owl-dots{
        text-align: right;
    }
}

.owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
    background: #fff;
    border: 2px solid #ccc;
    display: block;
    border-radius: 100%;
    padding: 0;
    margin: 11px 7px 3px;
}

.owl-theme .control-buttons a {
    margin: 0 10px;
    font-size: 1rem !important;
}

.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active span{
    background: #ccc;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
    cursor: pointer;
}

.img-e-m{
    max-width: none !important;
    width: auto !important;
    margin: 0 auto;
}

.owl-prev{
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 100;
    color: #fff !important;
    font-size: 2em !important;
}
.owl-next{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    color: #fff !important;
    font-size: 2em !important;
}
.owl-prev.disabled,
.owl-next.disabled{
    display: none !important;
}