.card {
  .card-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #eaf2ec;
    margin: 0 0 8px;
    text-align: center;
    vertical-align: middle;
    line-height: 43px;

    svg.icon {
      width: 24px;
      height: 24px;
      fill: $body-color;
    }

    span {
      display: none;
    }

    &:hover {
      span {
        display: block;
        position: absolute;
        margin-top: -40px;
        left: 82px;
        letter-spacing: 1px;
        font-size: 0.9em;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  .card-icon-sm {
    letter-spacing: 1px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;

    svg.icon {
      width: 22px;
      height: 22px;
      margin-right: 4px;
    }

    a {
      color: $body-color;
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
      color: $gray-700;

      svg.icon {
        fill: $gray-700 !important;
      }
    }

    span {
      display: inline;
      vertical-align: middle;
    }
  }

  @each $color, $value in $theme-colors {
    .card-icon-color-#{$color} *, .card-icon-color-hover-#{$color}:hover * {
      color: #{$value} !important;
      fill: #{$value} !important;
    }
  }

  .card-icon-color-white *, .card-icon-color-hover-white:hover {
    color: white !important;
    fill: white !important;
  }

  .card-body-alt {
    h5.card-title {
      font-size: $card-h5-size;

      a {
        text-decoration: none;
      }
    }

    font-family: $font-family-sans-serif;
    font-size: $card-p-size;
    line-height: normal;
    color: $body-color;

    p {
      font-family: $font-family-sans-serif;
      font-size: $card-p-size;
      line-height: normal;
      color: $body-color;
    }

    .link-list-wrapper ul li {
      padding: 5px 0;

      a {
        padding: 0;
        font-size: $card-p-size;
        line-height: normal;
        fill: $primary;
        display: flex;
        align-items: start;

        svg.icon {
          margin: 0 10px 0 0;
        }

        span {
          margin-right: 0;
          min-height: 24px;
        }
      }
    }
  }

  .card-text .embed {
    font-family: $font-family-sans-serif;
    font-size: 1.2em;
  }

  @each $color, $value in $theme-colors {
    a.read-more-color-#{$color} {
      color: #{$value} !important;

      .icon {
        fill: #{$value} !important;
      }
    }
  }

  .link-list-wrapper ul li a {
    padding: 0;

    svg.icon{
      min-width:24px;
    }
  }

}

.card-columns .card-wrapper {
  display: block;
}

.card-wrapper.card-teaser-wrapper {
  &.card-teaser-embed {
    display: block;
    column-count: 1;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  > .card-teaser {
    flex-wrap: nowrap !important;
    display: inline-flex !important;
  }
}

@include media-breakpoint-up(md) {
  .card-wrapper.card-teaser-wrapper.card-teaser-embed {
    column-count: 2;
  }
}

.card.card-teaser .card-body{
  max-width: 100%;
}

.card.card-teaser .icon + .card-body{
  max-width: 80%;
}

.card.primary-bg {background-color: $primary !important;}
.card.primary-bg-a1 {background-color: $primary-a1 !important;}
.card.primary-bg-a2 {background-color: $primary-a2 !important;}
.card.primary-bg-a3 {background-color: $primary-a3 !important;}
.card.primary-bg-a4 {background-color: $primary-a4 !important;}
.card.primary-bg-a5 {background-color: $primary-a5 !important;}
.card.primary-bg-a6 {background-color: $primary-a6 !important;}
.card.primary-bg-a7 {background-color: $primary-a7 !important;}
.card.primary-bg-a8 {background-color: $primary-a8 !important;}
.card.primary-bg-a9 {background-color: $primary-a9 !important;}
.card.primary-bg-a10 {background-color: $primary-a10 !important;}
.card.primary-bg-a11 {background-color: $primary-a11 !important;}
.card.primary-bg-a12 {background-color: $primary-a12 !important;}
.card.primary-bg-b1 {background-color: $primary-b1 !important;}
.card.primary-bg-b2 {background-color: $primary-b2 !important;}
.card.primary-bg-b3 {background-color: $primary-b3 !important;}
.card.primary-bg-b4 {background-color: $primary-b4 !important;}
.card.primary-bg-b5 {background-color: $primary-b5 !important;}
.card.primary-bg-b6 {background-color: $primary-b6 !important;}
.card.primary-bg-b7 {background-color: $primary-b7 !important;}
.card.primary-bg-b8 {background-color: $primary-b8 !important;}
.card.primary-bg-c1 {background-color: $primary-c1 !important;}
.card.primary-bg-c2 {background-color: $primary-c2 !important;}
.card.primary-bg-c3 {background-color: $primary-c3 !important;}
.card.primary-bg-c4 {background-color: $primary-c4 !important;}
.card.primary-bg-c5 {background-color: $primary-c5 !important;}
.card.primary-bg-c6 {background-color: $primary-c6 !important;}
.card.primary-bg-c7 {background-color: $primary-c7 !important;}
.card.primary-bg-c8 {background-color: $primary-c8 !important;}
.card.primary-bg-c9 {background-color: $primary-c9 !important;}
.card.primary-bg-c10 {background-color: $primary-c10 !important;}
.card.primary-bg-c11 {background-color: $primary-c11 !important;}
.card.primary-bg-c12 {background-color: $primary-c12 !important;}
.text-primary-bg {color: color-yiq($primary) !important;}
.text-primary-bg-a1 {color: color-yiq($primary-a1) !important;}
.text-primary-bg-a2 {color: color-yiq($primary-a2) !important;}
.text-primary-bg-a3 {color: color-yiq($primary-a3) !important;}
.text-primary-bg-a4 {color: color-yiq($primary-a4) !important;}
.text-primary-bg-a5 {color: color-yiq($primary-a5) !important;}
.text-primary-bg-a6 {color: color-yiq($primary-a6) !important;}
.text-primary-bg-a7 {color: color-yiq($primary-a7) !important;}
.text-primary-bg-a8 {color: color-yiq($primary-a8) !important;}
.text-primary-bg-a9 {color: color-yiq($primary-a9) !important;}
.text-primary-bg-a10 {color: color-yiq($primary-a10) !important;}
.text-primary-bg-a11 {color: color-yiq($primary-a11) !important;}
.text-primary-bg-a12 {color: color-yiq($primary-a12) !important;}
.text-primary-bg-b1 {color: color-yiq($primary-b1) !important;}
.text-primary-bg-b2 {color: color-yiq($primary-b2) !important;}
.text-primary-bg-b3 {color: color-yiq($primary-b3) !important;}
.text-primary-bg-b4 {color: color-yiq($primary-b4) !important;}
.text-primary-bg-b5 {color: color-yiq($primary-b5) !important;}
.text-primary-bg-b6 {color: color-yiq($primary-b6) !important;}
.text-primary-bg-b7 {color: color-yiq($primary-b7) !important;}
.text-primary-bg-b8 {color: color-yiq($primary-b8) !important;}
.text-primary-bg-c1 {color: color-yiq($primary-c1) !important;}
.text-primary-bg-c2 {color: color-yiq($primary-c2) !important;}
.text-primary-bg-c3 {color: color-yiq($primary-c3) !important;}
.text-primary-bg-c4 {color: color-yiq($primary-c4) !important;}
.text-primary-bg-c5 {color: color-yiq($primary-c5) !important;}
.text-primary-bg-c6 {color: color-yiq($primary-c6) !important;}
.text-primary-bg-c7 {color: color-yiq($primary-c7) !important;}
.text-primary-bg-c8 {color: color-yiq($primary-c8) !important;}
.text-primary-bg-c9 {color: color-yiq($primary-c9) !important;}
.text-primary-bg-c10 {color: color-yiq($primary-c10) !important;}
.text-primary-bg-c11 {color: color-yiq($primary-c11) !important;}
.text-primary-bg-c12 {color: color-yiq($primary-c12) !important;}
// complementary 1
.card.complementary-1-bg {background-color: $complementary-1;}
.text-complementary-1-bg {color: color-yiq($complementary-1) !important;}
$colorlist: $complementary-1-a1 $complementary-1-a2 $complementary-1-a3
$complementary-1-a4 $complementary-1-a5 $complementary-1-a6
$complementary-1-a7 $complementary-1-a8 $complementary-1-a9
$complementary-1-a10 $complementary-1-a11 $complementary-1-a12;
@for $i from 1 through length($colorlist) {
  $color: nth($colorlist, $i);
  .card.complementary-1-bg-a#{$i} {background-color: $color;}
  .text-complementary-1-bg-a#{$i} {color: color-yiq($color) !important;}
}
// complementary 2
$colorlist: $complementary-2-a1 $complementary-2-a2 $complementary-2-a3
$complementary-2-a4 $complementary-2-a5 $complementary-2-a6
$complementary-2-a7 $complementary-2-a8 $complementary-2-a9
$complementary-2-a10 $complementary-2-a11 $complementary-2-a12;
.card.complementary-2-bg {background-color: $complementary-2;}
.text-complementary-2-bg {color: color-yiq($complementary-2) !important;}
@for $i from 1 through length($colorlist) {
  $color: nth($colorlist, $i);
  .card.complementary-2-bg-a#{$i} {background-color: $color;}
  .text-complementary-2-bg-a#{$i} {color: color-yiq($color) !important;}
}
// complementary 3
$colorlist: $complementary-3-a1 $complementary-3-a2 $complementary-3-a3
$complementary-3-a4 $complementary-3-a5 $complementary-3-a6
$complementary-3-a7 $complementary-3-a8 $complementary-3-a9
$complementary-3-a10 $complementary-3-a11 $complementary-3-a12;
.card.complementary-3-bg {background-color: $complementary-3;}
.text-complementary-3-bg {color: color-yiq($complementary-3) !important;}
@for $i from 1 through length($colorlist) {
  $color: nth($colorlist, $i);
  .card.complementary-3-bg-a#{$i} {background-color: $color;}
  .text-complementary-3-bg-a#{$i} {color: color-yiq($color) !important;}
}
// analog 1
$colorlist: $analogue-1-a1 $analogue-1-a2 $analogue-1-a3 $analogue-1-a4
$analogue-1-a5 $analogue-1-a6 $analogue-1-a7 $analogue-1-a8 $analogue-1-a9 $analogue-1-a10 $analogue-1-a11 $analogue-1-a12;
@for $i from 1 through length($colorlist) {
  $color: nth($colorlist, $i);
  .card.analogue-1-bg-a#{$i} {background-color: $color;}
  .text-analogue-1-bg-a#{$i} {color: color-yiq($color) !important;}
}
.card.analogue-1-bg, .card.analogue-1-b {background-color: $analogue-1;}
.text-analogue-1-bg, .text-analogue-1-b {color: color-yiq($analogue-1) !important;}
$colorlist: $analogue-1-b1 $analogue-1-b2 $analogue-1-b3 $analogue-1-b4
$analogue-1-b5 $analogue-1-b6 $analogue-1-b7 $analogue-1-b8;
@for $i from 1 through length($colorlist) {
  $color: nth($colorlist, $i);
  .card.analogue-1-bg-b#{$i} {background-color: $color;}
  .text-analogue-1-bg-b#{$i} {color: color-yiq($color) !important;}
}
// analog 2
.card.analogue-2-bg {background-color: $analogue-2;}
.text-analogue-2-bg {color: color-yiq($analogue-2) !important;}
$colorlist: $analogue-2-b1 $analogue-2-b2 $analogue-2-b3 $analogue-2-b4
$analogue-2-b5 $analogue-2-b6 $analogue-2-b7 $analogue-2-b8;
@for $i from 1 through length($colorlist) {
  $color: nth($colorlist, $i);
  .card.analogue-2-bg-b#{$i} {background-color: $color;}
  .text-analogue-2-bg-b#{$i} {color: color-yiq($color) !important;}
}
$colorlist: $analogue-2-a1 $analogue-2-a2 $analogue-2-a3 $analogue-2-a4
$analogue-2-a5 $analogue-2-a6 $analogue-2-a7 $analogue-2-a8 $analogue-2-a9 $analogue-2-a10 $analogue-2-a11 $analogue-2-a12;
@for $i from 1 through length($colorlist) {
  $color: nth($colorlist, $i);
  .card.analogue-2-bg-a#{$i} {background-color: $color;}
  .text-analogue-2-bg-a#{$i} {color: color-yiq($color) !important;}
}
.card.complementary-1-b {background-color: $complementary-1-b1;}
.text-complementary-1-b {color: color-yiq($complementary-1-b1) !important;}
// complementary 1
$colorlist: $complementary-1-b1 $complementary-1-b2 $complementary-1-b3
$complementary-1-b4 $complementary-1-b5 $complementary-1-b6
$complementary-1-b7 $complementary-1-b8;
@for $i from 1 through length($colorlist) {
  $color: nth($colorlist, $i);
  .card.complementary-1-bg-b#{$i} {background-color: $color;}
  .text-complementary-1-bg-b#{$i} {color: color-yiq($color) !important;}
}
.card.complementary-2-b {background-color: $complementary-2-b1;}
.text-complementary-2-b {color: color-yiq($complementary-2-b1) !important;}
// complementary 2
$colorlist: $complementary-2-b1 $complementary-2-b2 $complementary-2-b3
$complementary-2-b4 $complementary-2-b5 $complementary-2-b6
$complementary-2-b7 $complementary-2-b8;
@for $i from 1 through length($colorlist) {
  $color: nth($colorlist, $i);
  .card.complementary-2-bg-b#{$i} {background-color: $color;}
  .text-complementary-2-bg-b#{$i} {color: color-yiq($color) !important;}
}
// complementary 3
$colorlist: $complementary-3-b1 $complementary-3-b2 $complementary-3-b3
$complementary-3-b4 $complementary-3-b5 $complementary-3-b6
$complementary-3-b7 $complementary-3-b8;
@for $i from 1 through length($colorlist) {
  $color: nth($colorlist, $i);
  .card.complementary-3-bg-b#{$i} {background-color: $color;}
  .text-complementary-3-bg-b#{$i} {color: color-yiq($color) !important;}
}
// neutral 1
.card.neutral-1-bg {background-color: $neutral-1;}
.text-neutral-1-bg {color: color-yiq($neutral-1) !important;}
$colorlist: $neutral-1-a1 $neutral-1-a2 $neutral-1-a3 $neutral-1-a4
$neutral-1-a5 $neutral-1-a6 $neutral-1-a7 $neutral-1-a8 $neutral-1-a9
$neutral-1-a10;
@for $i from 1 through length($colorlist) {
  $color: nth($colorlist, $i);
  .card.neutral-1-bg-a#{$i} {background-color: $color;}
  .text-neutral-1-bg-a#{$i} {color: color-yiq($color) !important;}
}
// neutral 2
.card.neutral-2-bg {background-color: $neutral-2;}
.text-neutral-2-bg {color: color-yiq($neutral-2) !important;}
$colorlist: $neutral-2-b1 $neutral-2-b2 $neutral-2-b3 $neutral-2-b4
$neutral-2-b5 $neutral-2-b6 $neutral-2-b7;
@for $i from 1 through length($colorlist) {
  $color: nth($colorlist, $i);
  .card.neutral-2-bg-b#{$i} {background-color: $color;}
  .text-neutral-2-bg-b#{$i} {color: color-yiq($color) !important;}
}
$colorlist: $neutral-2-a1 $neutral-2-a2 $neutral-2-a3 $neutral-2-a4
$neutral-2-a5 $neutral-2-a6 $neutral-2-a7;
@for $i from 1 through length($colorlist) {
  $color: nth($colorlist, $i);
  .card.neutral-2-bg-a#{$i} {background-color: $color;}
  .text-neutral-2-bg-a#{$i} {color: color-yiq($color) !important;}
}
