//modificando
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/utilities/colors_vars.scss#202-2014
//usando http://colorizer.org/
// colore amaranto: #E52B50, modificato in CF2C51 per accessibilità

$primary-a7: #A61F3A;
$primary-a6: #CC2748;
$primary-a10: #30373d;
$primary-a12: #661324;

$primary-h: 346.38;
$primary-s: 64.94;
$primary-b: 49.22;

@import "default";