//modificando
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/utilities/colors_vars.scss#202-2014
//usando http://colorizer.org/

$primary-a7: #A61F3A;
$primary-a6: #CC2748;
$primary-a10: #30373d;
$primary-a12: ##661324;

$primary-h: 348.06;
$primary-s: 81.22;
$primary-b: 89.8;

@import "default";