//modifcando
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/utilities/colors_vars.scss e
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/custom/_footer.scss
//usando http://colorizer.org/

$primary: #d65669;
$primary-h: 351;
$primary-s: 75;
$primary-b: 97;

@import "default";