//modificando
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/utilities/colors_vars.scss#202-2014
//usando http://colorizer.org/
// colore nero: #101010 

$primary-a7: #292929;
$primary-a6: #3c3c3c;
$primary-a10: #444444;
$primary-a12: #332F2E;

$primary-h: 0;
$primary-s: 0;
$primary-b: 3.92;

@import "default";