@import "override-variables";
@import "bootstrap-italia";
@import 'font-awesome.scss';
@import "ezcompat";

.it-header-wrapper.it-header-sticky.is-sticky .it-header-navbar-wrapper {
  padding-top: 10px;
  .menu-wrapper {
    .it-brand-wrapper.cloned {
      a .icon {
        width: 41px;
        height: 41px;
      }
    }
    .it-search-wrapper a.rounded-icon {
      width: 24px;
      height: 24px;
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
}