//modificando
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/utilities/colors_vars.scss#202-2014
//usando http://colorizer.org/
// colore azzurro: #3573DE

//3CA1D1 0080FF 3573DE
$primary-a7: #26529E;
$primary-a6: #336CD1;
$primary-a10: #2C5FB8;
$primary-a12: #234B91;

$primary-h: 217.99;
$primary-s: 71.91;
$primary-b: 53.92;

@import "default";