//modificando
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/utilities/colors_vars.scss#202-2014
//usando http://colorizer.org/
// colore trentino: #BDD131
// colore trentino: #7BB73B

// $colore-header: #699c32;
// $colore-header: #62912f;
$colore-header: #57822a;

$primary-a7: darken($colore-header, 10);
$primary-a6: darken($colore-header, 8);
$primary-a10: darken($colore-header, 10);
$primary-a12: darken($colore-header, 15);

$primary-h: 88.97;
$primary-s: 67.97;
$primary-b: 50.2;

// $primary-h: 88.78;
// $primary-s: 67.59;
// $primary-b: 61;
@import "default";