//modificando
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/utilities/colors_vars.scss#202-2014
//usando http://colorizer.org/
// colore arancione: #FF6600
// l'arancione ha un contrasto basso relativamente al bianco, questo tema NON può essere utilizzato su siti pubblici

$colore-header: #FF6600;

$primary-a7: darken($colore-header, 3);
$primary-a6: darken($colore-header, 0);
$primary-a10: darken($colore-header, 5);
$primary-a12: darken($colore-header, 10);

$primary-h: 24;
$primary-s: 100;
$primary-b: 100;

@import "default";