//modifcando
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/utilities/colors_vars.scss e
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/custom/_footer.scss
//usando http://colorizer.org/

$primary: #b82e45;
$primary-h: 350;
$primary-s: 75;
$primary-b: 72;

@import "default";