//modifcando
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/utilities/colors_vars.scss e
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/custom/_footer.scss
//usando http://colorizer.org/

$primary: #336680;
$primary-h: 200;
$primary-s: 60;
$primary-b: 50;

@import "default";