//modifcando
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/utilities/colors_vars.scss e
// - html/extension/openpa_bootstrapitalia/node_modules/bootstrap-italia/src/scss/custom/_footer.scss
//usando http://colorizer.org/

$primary: #3478bd;
$primary-a7: #2b649e;
$primary-a6: #3478bd;
$bg-footer: #214c77;

$primary-h: 210.22;
$primary-s: 72.49;
$primary-b: 74.12;

@import "default";
